html {
    height: 100%;
}

.container {
    
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: linear-gradient(#FC5E55, #FA4083);
    font-family: 'Playfair Display', serif;
    color: white;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: rgb(2, 235, 2);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: rgb(141, 0, 129);
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(185, 2, 170);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(238, 0, 218);
    min-height: 300px;
    width: 30%;

}

.herobox1 {
    flex: 2;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}

